@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "AvenirNextCyr-Regular", sans-serif;
  color: #05162E;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #05162E;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #05162E;
}

::-moz-selection {
  color: #fff;
  background-color: #05162E;
}

::selection {
  color: #fff;
  background-color: #05162E;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #05162E;
}

a:hover {
  color: #F18E02;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #05162E;
}

textarea {
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #05162E;
}

textarea::-moz-placeholder {
  color: #05162E;
}

textarea:-ms-input-placeholder {
  color: #05162E;
}

textarea::-ms-input-placeholder {
  color: #05162E;
}

textarea::placeholder {
  color: #05162E;
}

input,
textarea,
select {
  color: #05162E;
  font-family: "AvenirNextCyr-Medium";
  font-size: 14px;
  padding: 12px 30px;
  border: none;
  border-radius: 2px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #05162E;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #05162E;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #05162E;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #05162E;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #05162E;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #05162E;
  -webkit-box-shadow: inset 0px 0px 5px 1px #F18E02;
          box-shadow: inset 0px 0px 5px 1px #F18E02;
  outline: none;
}

.checkbox {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #E1E1E1;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #008CFF;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #008CFF;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd,
button:active {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
}

.shd .shd:hover,
button:active .shd:hover {
  -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
          box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
}

.b {
  font-family: "AvenirNextCyr-Bold";
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.btn {
  outline: none;
  font-size: 14px;
  font-family: "AvenirNextCyr-Medium";
  letter-spacing: .5px;
  text-align: center;
  padding: 12px 30px;
  color: #fff;
  background-color: #F18E02;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.btn > * {
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  width: 138px;
  height: 138px;
  left: -210%;
  top: -80px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: 3s all ease;
  -o-transition: 3s all ease;
  transition: 3s all ease;
}

.btn:hover {
  color: #fff;
  background-color: #008CFF;
}

.btn:hover::before {
  left: 150%;
}

.btn_transp {
  color: #fff;
  background: transparent;
  border: 1px solid #05162E;
}

.btn_transp:hover {
  color: #fff;
  background-color: #008CFF;
}

.btn_transp:hover::before {
  left: 150%;
}

.btn_blue {
  background-color: #008CFF;
}

.btn_blue:hover {
  background-color: #F18E02;
}

.btn_white {
  background-color: #E3E3E3;
  -webkit-box-shadow: 0px 2.65px 2.65px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2.65px 2.65px rgba(0, 0, 0, 0.2);
  color: #05162E;
}

.btn_white:hover {
  color: #fff;
  background-color: #008CFF;
}

.btn_add {
  margin-left: auto;
  margin-right: auto;
  max-width: 192px;
  padding-right: 80px;
  overflow: hidden;
}

.btn_add img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.btn_add:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn_file {
  position: relative;
  color: #fff;
  cursor: pointer;
  max-width: 230px;
  padding-right: 56px;
  padding-left: 15px;
}

.btn_file .upload__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn_file label.filename {
  cursor: pointer;
  margin-bottom: 0;
  cursor: pointer;
}

.btn_file img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.btn_file:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn_subm {
  min-width: 190px;
}

.btn_subm input[type="submit"] {
  color: #fff;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #EE414F;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #05162E;
  left: 0;
  top: 9px;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 40px;
  right: 40px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background-color: #05162E;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #05162E;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  border: 1px solid #05162E;
  color: #05162E;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #05162E;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #05162E;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #05162E;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #05162E;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #05162E;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #00BFF3;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 13px;
  height: 13px;
  border: 2.5px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  border-color: transparent;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border-radius: 50%;
  padding: 0;
  background-color: #fff;
  border: 1.5px solid #05162E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-carousel .owl-nav button.owl-prev img,
.owl-carousel .owl-nav button.owl-next img {
  max-width: 17px;
  height: auto;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #F18E02;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  border-color: #F18E02;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 36px;
  font-family: "AvenirNextCyr-Bold";
  letter-spacing: 1px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.input__wrp {
  position: relative;
  max-width: 230px;
}

.input__wrp input,
.input__wrp select {
  width: 100%;
  padding-left: 35px;
}

.input__wrp::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 8px;
  width: 12px;
  height: 17px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input__wrp_file::before {
  background-image: url("../img/icon__file.jpg");
}

.input__wrp:not(:last-child) {
  margin-bottom: 15px;
}

.header {
  font-size: 13px;
  color: #fff;
  background-color: #05162E;
  padding: 10px 0;
}

.header__work span:nth-child(2) {
  color: #F18E02;
}

.header__city-wrp {
  max-width: 297px;
  position: relative;
}

.header__city-select {
  width: 100%;
  padding: 7px 35px 7px 15px;
  border: 1px solid #f9f9f966;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.header__city-select:hover {
  border-color: #F18E02;
}

.header__city-select::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 9.5px;
  right: 15px;
  top: 14px;
  background: url(../img/icon__select-arr.png) no-repeat 50% 50%/contain;
}

.header__city-select.active::before {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

.header__city-list {
  width: 100%;
  border: 1px solid #f9f9f966;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;
  background-color: #f9f9f9;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.header__city-list-item {
  color: #000;
  padding: 3px 7px;
  display: block;
  width: 100%;
}

.header__city-list-item:nth-child(odd) {
  background-color: #e2dfdf;
}

.header__city-list-item:hover {
  color: #fff;
  background-color: #F18E02;
}

.header__soc {
  position: relative;
}

.header__soc::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -15px;
  top: 0;
  background-color: #F9F9F9;
  opacity: .3;
}

.header__soc-link {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background-color: #072754;
  position: relative;
  overflow: hidden;
}

.header__soc-link::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 58px;
  left: -350%;
  top: -30px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: .9s all ease;
  -o-transition: .9s all ease;
  transition: .9s all ease;
}

.header__soc-link:hover {
  background-color: #008CFF;
}

.header__soc-link:hover::before {
  left: 150%;
}

.header__cart {
  color: #fff;
  position: relative;
}

.header__cart::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -15px;
  top: 0;
  background-color: #F9F9F9;
  opacity: .3;
}

.header__cart-val {
  position: relative;
}

.header__cart-val-num {
  position: absolute;
  background-color: #F18E02;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  left: 10px;
  top: -6px;
  color: #05162E;
  text-align: center;
}

.header__cab {
  color: #fff;
}

.header__cab span {
  text-decoration: underline;
}

.banner {
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/banner__bg.jpg);
}

.banner .container {
  position: relative;
}

.banner__hamburger {
  display: none;
  position: absolute;
  top: -21px;
  right: 23px;
  width: 32px;
  height: 2px;
  background-color: #F18E02;
  opacity: 1;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.banner__hamburger::before, .banner__hamburger::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #F18E02;
  left: 0;
}

.banner__hamburger::before {
  top: -10px;
}

.banner__hamburger::after {
  bottom: -10px;
}

.banner__menu-btn {
  display: none;
  width: 200px;
  margin-top: 15px;
}

.banner__nav-item {
  font-size: 14px;
  font-family: "AvenirNextCyr-Medium";
  letter-spacing: .5px;
  text-align: center;
  padding: 12px 10px;
  color: #fff;
  border: 1px solid #f9f9f966;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.banner__nav-item span {
  position: relative;
}

.banner__nav-item::before {
  content: '';
  position: absolute;
  width: 138px;
  height: 138px;
  left: -230%;
  top: -80px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: .9s all ease;
  -o-transition: .9s all ease;
  transition: .9s all ease;
}

.banner__nav-item:hover {
  color: #fff;
  background-color: #008CFF;
  border-color: transparent;
}

.banner__nav-item:hover::before {
  left: 120%;
}

.banner__nav-item.active {
  background-color: #F18E02;
  border-color: #F18E02;
}

.banner__nav .btn {
  padding-left: 5px;
  padding-right: 5px;
}

.banner__tel {
  font-family: "AvenirNextCyr-Bold";
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}

.banner__mail {
  color: #fff;
}

.banner__logo:hover img {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.banner .btn_blue {
  padding: 25px 10px;
  width: 100%;
  max-width: 180px;
}

.banner__offer {
  padding: 30px 0;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.banner__ttl {
  font-size: 32px;
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.banner__search {
  position: relative;
  width: 100%;
}

.banner__search::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 15px;
  width: 26px;
  height: 36px;
  background: url("../img/offer__search-icon.png") no-repeat 50% 50%/contain;
}

.banner__search-input {
  width: 100%;
  font-size: 18px;
  padding: 19px 50px 19px 60px;
}

.banner__search-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 19px;
  right: 25px;
  background: url("../img/icon__loupe.png") no-repeat 50% 50%/contain;
  padding: 0;
  -webkit-transform: scale(0.96);
      -ms-transform: scale(0.96);
          transform: scale(0.96);
}

.banner__search-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.banner__test {
  padding-top: 20px;
  padding-bottom: 40px;
}

.banner__test-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__test-item-img {
  width: 95px;
  height: 73px;
  margin-bottom: 20px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner__test-item-ttl {
  font-size: 18px;
  font-family: "AvenirNextCyr-Bold";
  margin-bottom: 10px;
}

.banner__test-item-descr {
  font-size: 15px;
}

.begin {
  overflow: hidden;
}

.begin__slider {
  margin-bottom: 30px;
}

.begin__slider-item {
  height: 300px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 65px;
  color: #fff;
}

.begin__slider-item_2 {
  color: #05162E;
}

.begin__slider-item_2 .begin__slider-ttl span {
  color: #F18E02;
}

.begin__slider-item_3 .begin__slider-subttl span {
  color: #fff;
  background-color: #F18E02;
  padding: 5px 6px;
}

.begin__slider-item_3 .begin__slider-ttl > div:nth-child(1) {
  margin-bottom: 13px;
  margin-top: 10px;
}

.begin__slider-item_3 .begin__slider-ttl .begin__slider-item-string {
  color: #05162E;
  background-color: #FFFFFFe3;
  padding: 2px 6px;
}

.begin__slider-item_4 .begin__slider-subttl {
  max-width: 460px;
  color: #05162E;
  font-family: "AvenirNextCyr-Bold";
}

.begin__slider-subttl {
  font-size: 22px;
  text-transform: uppercase;
}

.begin__slider-ttl {
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.begin__slider .owl-nav button.owl-prev {
  left: 10px;
  border-color: transparent;
}

.begin__slider .owl-nav button.owl-next {
  right: 10px;
  border-color: transparent;
}

.begin__slider .owl-dots {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 65px;
  bottom: 25px;
}

.begin__nav button.owl-prev {
  left: -36px;
}

.begin__nav button.owl-next {
  right: -36px;
}

.begin__nav-top {
  font-family: "AvenirNextCyr-Bold";
  color: #fff;
  position: relative;
  padding: 10px 12px;
}

.begin__nav-top::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 0;
  background-color: #008CFF;
  -webkit-transform: skew(-12deg);
      -ms-transform: skew(-12deg);
          transform: skew(-12deg);
}

.begin__nav-top > * {
  position: relative;
}

.begin__nav:nth-child(2) .begin__nav-top::before {
  background-color: #F18E02;
}

.begin__nav:nth-child(3) .begin__nav-top::before {
  background-color: #072754;
}

.begin__nav:nth-child(4) .begin__nav-top::before {
  background-color: #838383;
}

.begin__nav-bot {
  padding: 15px 0 35px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  position: relative;
}

.begin__nav-link {
  padding: 8px 20px;
  width: 100%;
  display: block;
}

.begin__nav-link-wrp {
  position: relative;
}

.begin__nav-link-wrp:hover {
  background-color: #F3F3F3;
}

.begin__nav-sub {
  position: absolute;
  left: 100%;
  top: 0;
  width: 870px;
  z-index: 2;
  background: #F3F3F3;
  padding: 25px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.begin__nav-sub-ttl {
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.begin__nav-sub-link {
  text-decoration: underline;
  margin-bottom: 6px;
}

.begin__nav-more {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #E0E0E0;
  left: 50%;
  margin-left: -11px;
  bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.begin__nav-more:hover {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.begin__cat-item {
  width: 100%;
  max-width: 270px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.begin__cat-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/begin__cat-item_bg.jpg") no-repeat 50% 50%/cover;
  opacity: 0;
}

.begin__cat-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #F3F3F3;
  opacity: .7;
}

.begin__cat-item-in {
  height: 100%;
  color: #05162E;
  position: relative;
  z-index: 1;
  padding: 30px;
  -webkit-transform: translateY(65%);
      -ms-transform: translateY(65%);
          transform: translateY(65%);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.begin__cat-item .btn {
  opacity: 0;
}

.begin__cat-item .btn:hover {
  color: #000;
}

.begin__cat-item:hover .begin__cat-item-in {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.begin__cat-item:hover .btn,
.begin__cat-item:hover .list_string {
  opacity: 1;
}

.begin__cat-item:hover .begin__cat-ttl {
  color: #fff;
}

.begin__cat-item:hover::before {
  opacity: 0;
}

.begin__cat-item:hover::after {
  opacity: .8;
}

.begin__cat-ttl {
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 11px;
}

.begin__cat .list_string {
  opacity: 0;
}

.begin__cat .list_string li a {
  display: block;
  color: #fff;
}

.begin__cat .list_string li a:hover {
  color: #F18E02;
}

.begin__cat .list_string li:not(:last-child) {
  margin-bottom: 6px;
}

.begin__cat .list_string li::before {
  background-color: #fff;
}

.begin__cat .list_string li:hover::before {
  background-color: #F18E02;
}

.hot {
  color: #fff;
  background: url("../img/hot__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.hot::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #05162E;
  opacity: .8;
}

.hot .container {
  position: relative;
}

.hot__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 15px;
  position: relative;
  background-color: #fff;
  color: #05162E;
  border-radius: 2px;
  overflow: hidden;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.hot__item-img {
  width: 100%;
  height: 160px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.hot__item-img:hover {
  opacity: .7;
}

.hot__item-ttl {
  font-size: 16px;
  margin-bottom: 8px;
}

.hot__item-price-wrp {
  margin-bottom: 10px;
}

.hot__item-price_cur {
  font-family: "AvenirNextCyr-Bold";
  font-size: 26px;
}

.hot__item-price_old {
  font-size: 13px;
  color: #BDBDBD;
  text-decoration: line-through;
}

.hot__item .btn {
  margin-bottom: 15px;
}

.hot__item-flag {
  padding: 8px 12px 8px 20px;
  text-align: center;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "AvenirNextCyr-Bold";
  font-size: 16px;
  width: 70px;
  position: absolute;
  top: 19px;
  left: -15px;
  z-index: 1;
}

.hot__item-flag span {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.hot__item-flag_sale {
  background-color: #F18E02;
}

.hot__item-flag_hit {
  text-transform: uppercase;
  background-color: #008CFF;
}

.feed {
  color: #fff;
  background: url("../img/feed__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.feed::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #05162E;
  opacity: .8;
}

.feed .container {
  position: relative;
}

.feed__input {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.test {
  color: #fff;
  background: url("../img/test__bg.jpg") no-repeat 50% 50%/cover;
}

.test__item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test__item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 129px;
  height: 129px;
  background-color: #008CFF;
  border-radius: 2px;
  margin-right: 15px;
}

.test__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test__item-ttl {
  font-size: 18px;
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.trust {
  background-color: #F3F3F3;
}

.trust__item {
  min-width: 170px;
  height: 100px;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: 90px;
  background-repeat: no-repeat;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 7px;
}

.trust__in {
  padding-left: 50px;
  padding-right: 50px;
}

.news__item {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__item-img {
  width: 100%;
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.news__item-ttl {
  font-size: 18px;
  font-family: "AvenirNextCyr-Bold";
  margin-bottom: 10px;
  min-height: 52px;
}

.news__item:hover {
  color: #05162E;
  opacity: .7;
}

.contact {
  background-color: #e5e5e5;
}

.contact * {
  -webkit-transition: unset !important;
  -o-transition: unset !important;
  transition: unset !important;
}

.contact .section__ttl {
  text-align: left;
}

.contact__left {
  padding: 4rem 0;
}

.contact__item {
  border-bottom: 1px solid #000;
  cursor: pointer;
  padding: 15px 0 15px 15px;
}

.contact__item:last-child {
  border-bottom: none;
}

.contact__item_active {
  background-color: #cecece;
}

.contact__item-title {
  font-size: 20px;
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
}

.contact__item-title_light-blue {
  color: #008CFF;
}

.contact__item-title_blue {
  color: #072754;
}

.contact__item-title_light-orange {
  color: #F18E02;
}

.contact__item-text {
  font-size: 15px;
}

.ymaps-2-1-74-map {
  min-height: 400px !important;
}

.ymaps-2-1-74-map * {
  -webkit-transition: unset !important;
  -o-transition: unset !important;
  transition: unset !important;
}

.footer {
  background-color: #05162E;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #F18E02;
}

.footer__ttl {
  font-size: 18px;
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__soc {
  position: relative;
}

.footer__soc::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -15px;
  top: 0;
  background-color: #F9F9F9;
  opacity: .3;
}

.footer__soc-link {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background-color: #072754;
  position: relative;
  overflow: hidden;
}

.footer__soc-link::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 58px;
  left: -350%;
  top: -30px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: .9s all ease;
  -o-transition: .9s all ease;
  transition: .9s all ease;
}

.footer__soc-link:hover {
  background-color: #008CFF;
}

.footer__soc-link:hover::before {
  left: 150%;
}

.footer .btn {
  max-width: 220px;
}

.footer__req-img {
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background-color: #072754;
  position: relative;
  overflow: hidden;
}

.footer__req-img::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 58px;
  left: -350%;
  top: -30px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: .9s all ease;
  -o-transition: .9s all ease;
  transition: .9s all ease;
}

.footer__req:hover .footer__req-img {
  background-color: #008CFF;
}

.footer__req:hover .footer__req-img::before {
  left: 150%;
}

.footer__req span {
  text-decoration: underline;
}

.footer__logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -15px;
  top: 0;
  background-color: #F9F9F9;
  opacity: .3;
}

.footer__logo img {
  max-width: 100%;
}

.footer__logo:hover img {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.crumbs li,
.crumbs a {
  position: relative;
  color: #05162E;
  padding: 7px 12px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.crumbs li:not(:last-child) {
  background-color: #fff;
  border: 1px solid #072754;
  margin-right: 8px;
}

.crumbs li:not(:last-child):hover {
  background-color: #072754;
  border-color: #072754;
}

.crumbs li:not(:last-child):hover a {
  color: #fff;
}

.crumbs li:last-child {
  color: #fff;
  background-color: #072754;
}

.main {
  padding: 30px 0;
  background-color: #f9f9f9;
}

.main p {
  font-size: 15px;
}

.rev__in {
  padding-left: 50px;
  padding-right: 50px;
}

.rev__item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 170px;
  height: 241px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.rev__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #008CFF;
  opacity: 0;
}

.rev__item-more {
  width: 52px;
  height: 53px;
  background: url("../img/rev__btn.png") no-repeat 50% 50%/contain;
  opacity: 0;
  position: relative;
}

.rev__item:hover {
  -webkit-box-shadow: 0px 19px 19px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 19px 19px rgba(0, 80, 147, 0.25);
}

.rev__item:hover::before {
  opacity: .7;
}

.rev__item:hover .rev__item-more {
  opacity: 1;
}

.rev .owl-stage {
  padding-bottom: 35px;
}

.rev__list-item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .6;
}

.rev__list-item-date {
  position: relative;
  margin-right: 35px;
  opacity: .6;
}

.rev__list-item-date::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -17px;
  top: 0;
  background-color: #000;
  opacity: 6;
}

.rev__list-item-ttl {
  font-family: "AvenirNextCyr-Bold";
  font-size: 18px;
  color: #008CFF;
}

.rev-form {
  color: #fff;
  background: url("../img/feed__bg.jpg") no-repeat 50% 50%/cover;
  position: relative;
}

.rev-form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #05162E;
  opacity: .8;
}

.rev-form .container {
  position: relative;
}

.rev-form__input,
.rev-form .btn_file {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.rev-form textarea {
  width: 100%;
}

.corp__in {
  padding-left: 50px;
  padding-right: 50px;
}

.corp__item-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 300px;
  height: 187px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.corp__item-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #008CFF;
  opacity: 0;
}

.corp__item-img:hover::before {
  opacity: .7;
}

.corp__item-img:hover .corp__item-more {
  opacity: 1;
}

.corp__item-more {
  width: 52px;
  height: 53px;
  background: url("../img/rev__btn.png") no-repeat 50% 50%/contain;
  opacity: 0;
  position: relative;
}

.corp__item-top img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .6;
}

.corp__item-date {
  position: relative;
  margin-right: 35px;
  opacity: .6;
}

.corp__item-date::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: -17px;
  top: 0;
  background-color: #000;
  opacity: 6;
}

.corp__item-ttl {
  font-family: "AvenirNextCyr-Bold";
  font-size: 18px;
  color: #008CFF;
}

div.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 15px 0;
}

div.pagination ul.pagination {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding: 0;
}

div.pagination ul.pagination li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

div.pagination ul.pagination li:not(:last-child) {
  margin-right: 5px;
}

div.pagination ul.pagination li.active {
  background-color: #F18E02;
}

div.pagination ul.pagination li.active a {
  color: #fff;
}

div.pagination ul.pagination li a {
  color: #000;
  width: 25px;
  height: 25px;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

div.pagination ul.pagination li:hover {
  opacity: .7;
}

div.pagination ul.pagination li.control {
  opacity: 1;
  color: #fff;
  position: relative;
  border: 1.5px solid #05162E;
  background-color: #fff;
}

div.pagination ul.pagination li.control:hover {
  background-color: #F18E02;
  border-color: #F18E02;
}

div.pagination ul.pagination li.control a {
  width: 30px;
  height: 30px;
}

div.pagination ul.pagination li.control span {
  width: 30px;
  height: 30px;
  opacity: 0;
}

div.pagination ul.pagination li.control::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -10px;
  width: 30px;
  height: 20px;
}

div.pagination ul.pagination li.control_prev {
  margin-right: 25px;
}

div.pagination ul.pagination li.control_prev::before {
  background: url("../img/slider__arrow_prev.png") no-repeat 50% 50%/contain;
}

div.pagination ul.pagination li.control_next {
  margin-left: 25px;
}

div.pagination ul.pagination li.control_next::before {
  background: url("../img/slider__arrow_next.png") no-repeat 50% 50%/contain;
}

.sale .begin__slider_sale {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale .begin__slider-item:not(:last-child) {
  margin-bottom: 30px;
}

.sale-page .begin__slider-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale-page__descr {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.sale-page__in {
  padding-left: 50px;
  padding-right: 50px;
}

.sale-page__item-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 300px;
  height: 187px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.sale-page__item-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #008CFF;
  opacity: 0;
}

.sale-page__item-img:hover::before {
  opacity: .7;
}

.sale-page__item-img:hover .sale-page__item-more {
  opacity: 1;
}

.sale-page__item-more {
  width: 52px;
  height: 53px;
  background: url("../img/rev__btn.png") no-repeat 50% 50%/contain;
  opacity: 0;
  position: relative;
}

.del__banner {
  min-height: 370px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.del__item {
  padding: 200px 20px 30px;
  background: #F3F3F3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  position: relative;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.del__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/del__item-bg.jpg") no-repeat 50% 50%/cover;
  opacity: 0;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.del__item-img {
  position: absolute;
  width: 330px;
  height: 159px;
  right: 0;
  top: 30px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.del__item-info {
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  margin-top: 15px;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}

.del__item-info * {
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}

.del__item:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.del__item:hover .del__item-img {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.del__item:hover .del__item-info * {
  color: #fff;
}

.del__item:hover::before {
  opacity: 1;
}

.del__info {
  color: #fff;
  background: url("../img/del__info-bg.jpg") no-repeat 50% 50%/cover;
}

.del__info .section__ttl {
  text-align: left;
}

.del__info .btn {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.book__list-item {
  width: 100%;
  max-width: 270px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #F3F3F3;
}

.book__list-item-img {
  position: absolute;
  width: 230px;
  height: 139px;
  right: 0;
  top: 0px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.book__list-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/begin__cat-item_bg.jpg") no-repeat 50% 50%/cover;
  opacity: 0;
}

.book__list-item-in {
  height: 100%;
  color: #05162E;
  position: relative;
  z-index: 1;
  padding: 30px;
  -webkit-transform: translateY(55%);
      -ms-transform: translateY(55%);
          transform: translateY(55%);
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.book__list-item .btn {
  opacity: 0;
}

.book__list-item .btn:hover {
  color: #000;
}

.book__list-item:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.book__list-item:hover .book__list-item-in {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.book__list-item:hover .btn,
.book__list-item:hover .list_string {
  opacity: 1;
}

.book__list-item:hover .book__list-ttl {
  color: #fff;
}

.book__list-item:hover::after {
  opacity: .8;
}

.book__list-ttl {
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 11px;
}

.book__list .list_string {
  opacity: 0;
}

.book__list .list_string li a {
  display: block;
  color: #fff;
}

.book__list .list_string li a:hover {
  color: #F18E02;
}

.book__list .list_string li:not(:last-child) {
  margin-bottom: 6px;
}

.book__list .list_string li::before {
  background-color: #fff;
}

.book__list .list_string li:hover::before {
  background-color: #F18E02;
}

.book-page__banner {
  background-color: #F3F3F3;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.book-page__banner .section__ttl {
  position: relative;
}

.book-page__banner-img {
  position: absolute;
  width: 140px;
  height: 79px;
  right: 0;
  top: 0px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.watch-more {
  background-color: #fff;
}

.watch-more__item {
  width: 100%;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px 20px 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  overflow: hidden;
}

.watch-more__item-img {
  position: absolute;
  width: 90px;
  height: 100%;
  left: 15px;
  top: 0px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.watch-more__item-ttl {
  font-family: "AvenirNextCyr-Bold";
  font-size: 16px;
  position: relative;
}

.watch-more__item-ttl img {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

.watch-more__item:hover img {
  -webkit-transform: scale(0.7) translateX(8px);
      -ms-transform: scale(0.7) translateX(8px);
          transform: scale(0.7) translateX(8px);
}

.table {
  text-align: center;
  width: 100%;
}

.table th,
.table td {
  padding: 15px;
}

.table th {
  background-color: #072754;
  color: #fff;
}

.table tr:nth-child(odd) td {
  background-color: #C4C4C4;
}

.table tr:nth-child(even) td {
  background-color: #fff;
}

.roll__list-item {
  width: 100%;
  max-width: 270px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #F3F3F3;
  display: block;
}

.roll__list-item-img {
  position: absolute;
  width: 230px;
  height: 139px;
  right: 0;
  top: 0px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.roll__list-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/begin__cat-item_bg.jpg") no-repeat 50% 50%/cover;
  opacity: 0;
}

.roll__list-item-in {
  height: 100%;
  color: #05162E;
  position: relative;
  z-index: 1;
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.roll__list-item .btn {
  opacity: 0;
}

.roll__list-item .btn:hover {
  color: #000;
}

.roll__list-item:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.roll__list-item:hover .roll__list-ttl {
  color: #fff;
}

.roll__list-item:hover::after {
  opacity: .8;
}

.roll__list-ttl {
  font-family: "AvenirNextCyr-Bold";
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 11px;
}

.roll-cards__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 15px;
  position: relative;
  background-color: #F3F3F3;
  color: #05162E;
  border-radius: 2px;
  overflow: hidden;
}

.roll-cards__item:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.roll-cards__item-img {
  width: 160px;
  height: 160px;
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.roll-cards__item-img:hover {
  opacity: .7;
}

.roll-cards__item-ttl {
  font-size: 16px;
  margin-bottom: 8px;
}

.roll-cards__item-price-wrp {
  margin-bottom: 10px;
}

.roll-cards__item-price_cur {
  font-family: "AvenirNextCyr-Bold";
  font-size: 26px;
}

.roll-cards__item-price_old {
  font-size: 13px;
  color: #BDBDBD;
  text-decoration: line-through;
}

.roll-cards__item-btn-wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.roll-cards__item .btn {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.roll-cards__item-flag {
  padding: 8px 12px 8px 20px;
  text-align: center;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "AvenirNextCyr-Bold";
  font-size: 16px;
  width: 70px;
  position: absolute;
  top: 19px;
  left: -15px;
  z-index: 1;
}

.roll-cards__item-flag span {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.roll-cards__item-flag_sale {
  background-color: #F18E02;
}

.roll-cards__item-flag_hit {
  text-transform: uppercase;
  background-color: #008CFF;
}

.serv {
  background-color: #F9F9F9;
}

.serv__in {
  padding-left: 50px;
  padding-right: 50px;
}

.serv__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.serv__item-top {
  width: 170px;
  height: 100px;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease;
}

.serv__item-top > * {
  position: relative;
}

.serv__item-top::before {
  content: '';
  position: absolute;
  width: 138px;
  height: 158px;
  left: -210%;
  top: -70px;
  background: -o-linear-gradient(177.64deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  background: linear-gradient(272.36deg, #FFFFFF -11.72%, rgba(255, 255, 255, 0) 23.19%);
  opacity: 0.5;
  -webkit-transform: rotate(36.57deg);
      -ms-transform: rotate(36.57deg);
          transform: rotate(36.57deg);
  -webkit-transition: 3s all ease;
  -o-transition: 3s all ease;
  transition: 3s all ease;
}

.serv__item-top:hover {
  color: #fff;
  background-color: #008CFF;
}

.serv__item-top:hover::before {
  left: 150%;
}

.serv__item-ttl {
  font-family: "AvenirNextCyr-Bold";
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}

.serv__item-img {
  width: 70px;
  height: 70px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
}

.serv__item-img_2 {
  opacity: 0;
}

.serv__item:hover .serv__item-top {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.serv__item:hover .serv__item-img_1 {
  opacity: 0;
}

.serv__item:hover .serv__item-img_2 {
  opacity: 1;
}

.mobile-menu {
  min-height: 100vh;
  width: 100%;
  display: none;
  color: #fff;
  background-color: #05162E;
}

.mobile-menu .banner__nav-item {
  margin-bottom: 15px;
  width: 210px;
}

.mobile-menu .btn {
  width: 210px;
}

.mobile-menu .header__soc::after {
  display: none;
}
