@media screen and (max-width: 1200px) {
  .banner__hamburger {
    display: block;
  }
  .banner__menu-btn {
    display: block;
  }
  .banner .btn_blue {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .banner .banner__nav {
    display: none;
  }
  .banner.active {
    top: 0;
    opacity: 1;
    z-index: 3;
  }
  .banner .header__info-ttl {
    margin-bottom: 5px;
  }
  .banner .header__info-item {
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }
  .banner .header__logo {
    display: block;
    margin-bottom: 25px;
  }
  .banner-item {
    width: 170px;
    margin-bottom: 6px;
  }
  .banner-item:last-child {
    margin-bottom: 25px;
  }
  .banner-item:nth-child(5) {
    margin-top: 20px;
  }
  .banner .btn {
    width: 170px;
  }
  .banner__tel {
    font-size: 20px;
  }
  .test__item-img {
    min-width: 90px;
    height: 90px;
    padding: 10px;
  }
  .test__item-img img {
    max-width: 100%;
    height: auto;
  }
  .header__city-wrp {
    display: none;
  }
  .header__soc, .header__work {
    display: none !important;
  }
  .header__days {
    display: none;
  }
  .contact {
    padding-bottom: 30px;
  }
  #sidebar {
    display: none;
    min-height: 100vh;
    padding: 0;
  }
  #sidebar .begin__nav-sub {
    position: relative;
    left: 0;
    width: 90%;
    left: 5%;
    right: 5%;
    padding: 15px;
    background-color: #fff;
  }
  #sidebar .begin__nav-sub-ttl {
    font-size: 14px;
  }
  .footer__logo::after {
    display: none;
  }
  .footer__copy-text {
    text-align: center;
  }
  .banner__test-item::after {
    display: none;
  }
  .begin__nav-link {
    position: relative;
  }
  .begin__nav-link::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 10px;
    border-bottom: solid 5px #05162E;
    border-right: solid 5px #05162E;
    border-left: solid 5px transparent;
    border-top: solid 5px transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .begin__nav-link.active::after {
    top: 15px;
    -webkit-transform: rotate(45deg) scale(-1, -1);
        -ms-transform: rotate(45deg) scale(-1, -1);
            transform: rotate(45deg) scale(-1, -1);
  }
}

@media screen and (max-width: 900px) {
  .section_inner {
    padding: 35px 0;
  }
  .banner__offer {
    padding: 10px 0;
  }
  .begin__slider-item {
    position: relative;
    padding: 20px 45px;
  }
  .begin__slider-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #072754;
    opacity: .7;
  }
  .begin__slider-item_1::before {
    background-color: #f18e02;
  }
  .begin__slider-item_2 {
    color: #fff;
  }
  .begin__slider-item_3 .begin__slider-ttl .begin__slider-item-string {
    line-height: 1.4;
  }
  .begin__slider-item_3 .begin__slider-ttl > div:nth-child(1) {
    margin-bottom: 0;
  }
  .begin__slider-item_4 .begin__slider-subttl {
    font-size: 19px;
    color: #fff;
  }
  .begin__slider-item * {
    position: relative;
  }
  .begin__slider-ttl {
    font-size: 25px;
  }
  .begin__cat-item::before {
    opacity: 0;
  }
  .begin__cat-item::after {
    opacity: .7;
  }
  .begin__cat-item-in {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    color: #fff;
  }
  .begin__cat-item .list_string,
  .begin__cat-item .btn {
    opacity: 1;
  }
  .feed__top input,
  .feed__top .btn {
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .section__ttl,
  .banner__ttl {
    font-size: 25px;
  }
  .section__subttl {
    font-size: 20px;
  }
  .car__ttl {
    font-size: 18px;
  }
  .footer__ttl,
  .footer__info {
    text-align: center;
  }
  .test__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .test__item-img {
    margin: 0 auto 15px;
  }
  .begin__slider-item {
    min-height: 300px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .watch-more__item-img {
    left: 30px;
  }
  .footer__ttl_mobile {
    position: relative;
  }
  .footer__ttl_mobile::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 60px;
    top: 3px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    border-left: solid 5px transparent;
    border-top: solid 5px transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer__ttl_mobile.active::after {
    top: 9px;
    -webkit-transform: rotate(45deg) scale(-1, -1);
        -ms-transform: rotate(45deg) scale(-1, -1);
            transform: rotate(45deg) scale(-1, -1);
  }
  .footer__link {
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
  .succ__item {
    width: 100% !important;
  }
  .car-block {
    text-align: center;
  }
  .car-block__left {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  .header__cart::after {
    display: none;
  }
  .mobile-menu {
    padding: 10px;
  }
}
