@media screen and (max-width: 1200px) {
  .banner__hamburger {
    display: block;
  }
  .banner__menu-btn {
    display: block;
  }
  .banner .btn_blue {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .banner .banner__nav {
    display: none;
  }
  .banner.active {
    top: 0;
    opacity: 1;
    z-index: 3;
  }
  .banner .header__info-ttl {
    margin-bottom: 5px;
  }
  .banner .header__info-item {
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }
  .banner .header__logo {
    display: block;
    margin-bottom: 25px;
  }
  .banner-item {
    width: 170px;
    margin-bottom: 6px;
  }
  .banner-item:last-child {
    margin-bottom: 25px;
  }
  .banner-item:nth-child(5) {
    margin-top: 20px;
  }
  .banner .btn {
    width: 170px;
  }
  .banner__tel {
    font-size: 20px;
  }
  .test__item-img {
    min-width: 90px;
    max-width: 90px;
    height: 90px;
    padding: 10px;
  }
  .test__item-img img {
    max-width: 100%;
    height: auto;
  }
  .header__city-wrp {
    display: none;
  }
  .header__soc, .header__work {
    display: none !important;
  }
  .header__days {
    display: none;
  }
  .header__cab-in-wrp {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
  .header__cab-in::after {
    width: 16px;
    height: 16px;
    right: 50%;
    margin-right: -8px;
  }
  .contact {
    padding-bottom: 30px;
  }
  #sidebar {
    display: none;
    min-height: 100vh;
    padding: 30px 15px;
  }
  #sidebar .begin__nav-sub {
    position: relative;
    left: 0;
    width: 90%;
    left: 5%;
    right: 5%;
    padding: 15px;
    background-color: #fff;
  }
  #sidebar .begin__nav-sub-ttl {
    font-size: 14px;
  }
  .footer__logo::after {
    display: none;
  }
  .footer__copy-text {
    text-align: center;
  }
  .banner__test-item::after {
    display: none;
  }
  .begin__nav-link {
    position: relative;
  }
  .begin__nav-link::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 10px;
    border-bottom: solid 5px #05162E;
    border-right: solid 5px #05162E;
    border-left: solid 5px transparent;
    border-top: solid 5px transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .begin__nav-link.active::after {
    top: 15px;
    -webkit-transform: rotate(45deg) scale(-1, -1);
        -ms-transform: rotate(45deg) scale(-1, -1);
            transform: rotate(45deg) scale(-1, -1);
  }
  .header__cart::after {
    display: none;
  }
  .del-calc__ttl {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .del-calc__res {
    font-size: 16px;
    text-align: center;
  }
  .del-calc__res > div {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .del__banner {
    margin-bottom: 30px;
  }
  .del__banner-item {
    min-height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .del__banner .owl-nav button.owl-prev {
    left: 0;
    margin-left: 0;
  }
  .del__banner .owl-nav button.owl-next {
    right: 0;
    margin-right: 0;
  }
  .unk__ttl {
    font-size: 60px;
  }
  .cart__item-img {
    height: 150px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
  .cart__table-cnt {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .cart__table-cnt select {
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
  }
  .cart__table-cnt .input__wrp {
    padding: 7px 20px;
  }
  .cart__table-cnt .quantity {
    max-width: unset;
    width: 100%;
  }
  .cart__table-cnt > div {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
  }
  .cart__table-cnt > div:nth-child(2) {
    width: 85% !important;
  }
  .cart__table-cnt > div:nth-child(3) {
    width: 42% !important;
  }
  .cart__table-cnt > div:nth-child(4) {
    width: 34% !important;
  }
  .cart__table-cnt > div:nth-child(6) {
    width: 24% !important;
    text-align: right;
  }
  .cart__table-cnt > div:nth-child(7) {
    width: 100% !important;
  }
  .cart__table-cnt > div:nth-child(8) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 14% !important;
  }
  .cart__table-cnt > div:nth-child(8) {
    border-right: unset;
  }
  .cart__table-cnt > div p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .cart__table-delete {
    width: 31px;
    height: 31px;
    padding: 8px;
  }
  .book__list .col-4 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .book__list-item {
    height: auto;
    min-height: 150px;
  }
  .book__list-item-in {
    padding: 10px 5px;
  }
  .book__list-item .list_string {
    font-size: 10px;
  }
  .book__list-item .list_string li {
    padding-left: 10px;
  }
  .book__list-item .list_string li::before {
    width: 5px;
    top: 6px;
  }
  .book__list-ttl {
    font-size: 12px;
  }
  .crumbs a {
    font-size: 12px;
    padding: 0;
    margin-bottom: 2px;
  }
  .crumbs li {
    font-size: 12px;
    padding: 0;
    margin-bottom: 2px;
  }
  .crumbs li:not(:last-child) {
    background-color: transparent;
    border: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 13px;
    position: relative;
  }
  .crumbs li:not(:last-child)::after {
    content: '>';
    position: absolute;
    right: -10px;
    top: .5px;
    font-family: "AvenirNextCyr-Bold";
    -webkit-transform: scaleX(0.5);
        -ms-transform: scaleX(0.5);
            transform: scaleX(0.5);
  }
  .crumbs li:last-child {
    font-family: "AvenirNextCyr-Bold";
    color: #008CFF;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .banner__test-list {
    padding-bottom: 30px;
  }
  .cab__checkbox {
    width: 8% !important;
  }
  .cab-table__head > div {
    padding: 5px;
  }
  .cab-table__head > div:nth-child(9), .cab-table__head > div:nth-child(2), .cab-table__head > div:nth-child(5), .cab-table__head > div:nth-child(6), .cab-table__head > div:nth-child(7) {
    display: none;
  }
  .cab-table__head > div:nth-child(1) {
    width: 8% !important;
  }
  .cab-table__head > div:nth-child(3) {
    width: 41% !important;
  }
  .cab-table__head > div:nth-child(4) {
    width: 41% !important;
  }
  .cab-table__head > div:nth-child(8) {
    width: 15% !important;
  }
  .cab-table__item {
    margin-bottom: 0;
  }
  .cab-table__item-top > div {
    padding: 5px;
    min-height: 120px;
  }
  .cab-table__item-top > div:nth-child(2), .cab-table__item-top > div:nth-child(5), .cab-table__item-top > div:nth-child(6) {
    display: none;
  }
  .cab-table__item-top > div:nth-child(3) {
    width: 8% !important;
  }
  .cab-table__item-top > div:nth-child(3) {
    width: 41% !important;
  }
  .cab-table__item-top > div:nth-child(4) {
    width: 41% !important;
  }
  .cab-table__item-bot .cab-table__head > div:nth-child(1), .cab-table__item-bot .cab-table__head > div:nth-child(6), .cab-table__item-bot .cab-table__head > div:nth-child(4) {
    display: none;
  }
  .cab-table__item-bot .cab-table__head > div:nth-child(2), .cab-table__item-bot .cab-table__head > div:nth-child(7) {
    display: block;
  }
  .cab-table__item-bot .cab-table__head > div:nth-child(2) {
    width: 40% !important;
  }
  .cab-table__item-bot .cab-table__head > div:nth-child(7) {
    width: 35% !important;
  }
  .cab-table__item-bot .cab-table__head > div:nth-child(3) {
    width: 25% !important;
  }
  .cab-table__item-bot-cnt {
    font-size: 13px;
    padding: 8px 0;
  }
  .cab-table__item-bot-cnt p {
    font-size: 13px;
  }
  .cab-table__item-bot-cnt > div {
    padding: 0 8px;
  }
  .cab-table__item-bot-cnt > div:nth-child(1), .cab-table__item-bot-cnt > div:nth-child(3), .cab-table__item-bot-cnt > div:nth-child(4), .cab-table__item-bot-cnt > div:nth-child(6) {
    display: none;
  }
  .cab-table__item-bot-cnt > div:nth-child(2) {
    width: 40% !important;
  }
  .cab-table__item-bot-cnt > div:nth-child(7) {
    width: 35% !important;
  }
  .cab-table__item-bot-cnt > div:nth-child(5) {
    width: 25% !important;
  }
  .cab-table__item-btns {
    width: 15% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cab-table__item-btns > div {
    min-height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100% !important;
    border: none !important;
  }
}

@media screen and (max-width: 900px) {
  .section_inner {
    padding: 35px 0;
  }
  .banner__offer {
    padding: 10px 0;
  }
  .begin__nav_filter .begin__nav-top::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 9px;
    right: 10px;
    top: 14px;
    background: url("../img/acc__arr_up.png") no-repeat 50% 50%/contain;
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .begin__nav_filter.active .begin__nav-top::after {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }
  .begin__slider-item {
    position: relative;
    padding: 20px 45px;
  }
  .begin__slider-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #072754;
    opacity: .7;
  }
  .begin__slider-item_1::before {
    background-color: #f18e02;
  }
  .begin__slider-item_2 {
    color: #fff;
  }
  .begin__slider-item_3 .begin__slider-ttl .begin__slider-item-string {
    line-height: 1.4;
  }
  .begin__slider-item_3 .begin__slider-ttl > div:nth-child(1) {
    margin-bottom: 0;
  }
  .begin__slider-item_4 .begin__slider-subttl {
    font-size: 19px;
    color: #fff;
  }
  .begin__slider-item * {
    position: relative;
  }
  .begin__slider-ttl {
    font-size: 25px;
  }
  .begin__cat-item {
    height: 100%;
  }
  .begin__cat-item::before {
    opacity: 0;
  }
  .begin__cat-item::after {
    opacity: .7;
  }
  .begin__cat-item-in {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    color: #fff;
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .begin__cat-item .list_string,
  .begin__cat-item .btn {
    opacity: 1;
  }
  .feed__top input,
  .feed__top .btn {
    margin: 0 auto;
    display: block;
  }
  .roll__list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: auto;
    min-height: 150px;
  }
  .roll__list-item-in {
    padding: 8px;
  }
  .roll__list-item-img {
    width: 100%;
    background-position-y: 0%;
  }
  .roll__list-ttl {
    margin-bottom: 0;
    font-size: 14px;
  }
  .watch-more__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    padding-bottom: 15px;
  }
  .watch-more__item-img {
    width: 100%;
    height: 90px;
    left: 0;
    margin-bottom: 10px;
    position: relative;
  }
  .hot__in {
    padding-left: 0;
    padding-right: 0;
  }
  .hot__in .owl-nav button.owl-prev {
    left: -12px;
  }
  .hot__in .owl-nav button.owl-next {
    right: -12px;
  }
}

@media screen and (max-width: 768px) {
  .main-page .banner {
    background-image: url("../img/banner__bg.jpg");
    position: relative;
    z-index: 2;
    overflow: visible;
  }
  .main-page .banner::before {
    display: none;
  }
  .main-page .banner__video {
    display: none;
  }
  .main-page .container {
    position: relative;
    z-index: 2;
  }
  .section__ttl,
  .banner__ttl {
    font-size: 25px;
  }
  .section__subttl {
    font-size: 20px;
  }
  .car__ttl {
    font-size: 18px;
  }
  .footer__ttl,
  .footer__info {
    text-align: left;
  }
  .test__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .test__item-img {
    margin: 0 auto 15px;
  }
  .banner_inner .banner__tel {
    font-size: 14px;
    margin-bottom: 0;
  }
  .banner_inner .banner__search-input {
    font-size: 16px;
    padding: 9px 30px 9px 30px;
  }
  .banner_inner .banner__search::before {
    width: 12px;
    height: 16px;
    left: 10px;
    top: 13px;
  }
  .banner_inner .banner__search-btn {
    width: 16px;
    height: 16px;
    top: 13px;
    right: 10px;
  }
  .begin__slider-item {
    min-height: 300px;
    height: auto;
  }
  .roll-page__bot .tabs__list li {
    width: 100%;
  }
  .roll-page__info {
    text-align: center;
  }
  .roll-page__info-price {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .banner__info {
    text-align: center;
  }
  .header > .container:nth-child(1) {
    z-index: 3;
  }
  .footer__ttl_mobile {
    position: relative;
  }
  .footer__ttl_mobile::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 60px;
    top: 3px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    border-left: solid 5px transparent;
    border-top: solid 5px transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer__ttl_mobile.active::after {
    top: 9px;
    -webkit-transform: rotate(45deg) scale(-1, -1);
        -ms-transform: rotate(45deg) scale(-1, -1);
            transform: rotate(45deg) scale(-1, -1);
  }
  .footer__link {
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
  .footer__ttl,
  .footer__info {
    text-align: center;
  }
  .succ__item {
    width: 100% !important;
  }
  .car-block {
    text-align: center;
  }
  .car-block__left {
    padding: 15px;
  }
  .steel-page__img-wrp {
    padding: 15px;
  }
  .roll-page__bot .tabs__list {
    display: none;
  }
  .roll-page__bot .tabs__content-item {
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .roll-page__bot .tabs-acc__btn {
    display: block;
    position: relative;
  }
  .roll-page__bot .tabs-acc__btn::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 60px;
    top: 50%;
    border-bottom: solid 5px #05162E;
    border-right: solid 5px #05162E;
    border-left: solid 5px transparent;
    border-top: solid 5px transparent;
    -webkit-transform: rotate(45deg) translateY(-50%);
        -ms-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
  }
  .roll-page__bot .tabs-acc__btn.active::after {
    border-left: solid 5px #fff;
    border-top: solid 5px #fff;
    border-bottom: solid 5px transparent;
    border-right: solid 5px transparent;
  }
  .roll-page__bot .tabs-acc__cnt {
    display: none;
    background-color: #fff;
    padding: 15px 10px;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
  .sale-page__timer-item {
    width: 24%;
  }
  .sale-page__timer-item div {
    padding: 10px 5px;
  }
  .sale-page__timer-item span {
    font-size: 14px;
  }
  .sale-page__timer #days {
    font-size: 25px;
  }
  .sale-page__timer #hours {
    font-size: 25px;
  }
  .sale-page__timer #minutes {
    font-size: 25px;
  }
  .sale-page__timer #seconds {
    font-size: 18px;
  }
  .sale-page__timer #seconds div {
    padding-left: 4px;
    padding-right: 4px;
  }
  .unk__ttl {
    font-size: 30px;
  }
  .search__item {
    text-align: center;
    padding: 10px 15px;
  }
  .search__item-ttl {
    font-size: 12px;
  }
  .search__item-img {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .search__item .btn {
    font-size: 12px;
    padding: 10px 3px;
  }
  .search__item .btn::before {
    left: -280%;
  }
  .roll__list-item {
    min-height: 130px;
  }
  .roll__list-item-img {
    height: 69px;
    background-position-y: 100%;
  }
  .roll__list-ttl {
    font-size: 12px;
    text-align: left;
  }
  .mobile-menu {
    padding: 10px;
  }
  .header__cab-in-wrp {
    width: 260px;
  }
  .roll-page__img-top-item {
    height: 240px;
  }
  .popup__container .popup_cart {
    padding: 5px;
  }
  .header__cab-in-wrp {
    right: 62%;
  }
  .footer__ttl_mobile::after {
    right: -6px;
  }
  .del__banner {
    padding-bottom: 30px;
  }
  .del__banner .owl-dots {
    bottom: 0;
  }
  .del__banner .owl-dots button.owl-dot {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .del__banner .owl-dots button.owl-dot.active {
    background-color: #F18E02;
  }
  .succ__in {
    padding-left: 35px;
    padding-right: 35px;
  }
  .succ__item {
    height: auto;
    min-height: 260px;
  }
  .trust__in {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .trust__in .owl-dots button.owl-dot {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .trust__in .owl-dots button.owl-dot.active {
    background-color: #F18E02;
  }
  .hot__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 20px;
  }
  .hot__item-flag {
    width: 50px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: .8;
  }
  .hot__item-flag::after {
    border-width: 27px 13px 0 0;
  }
  .hot__item-img {
    height: 65px;
    width: 90px;
    min-width: 90px;
    margin-bottom: 0;
  }
  .hot__item-info {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hot__item-info .und {
    font-size: 13px;
  }
  .hot__item-ttl {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .hot__item-price-wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 5px;
  }
  .hot__item-price_cur {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    font-size: 13px;
  }
  .hot__item-price_old {
    display: none;
  }
  .hot__item-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hot__item-btns .btn_add {
    margin-bottom: 0;
    margin-right: 0px;
    padding: 0;
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }
  .hot__item-btns .btn_add span {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .section__ttl,
  .banner__ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .footer__ttl_mobile::after {
    right: -6px;
  }
  .hot__item-btns .btn_add {
    padding: 12px 48px 12px 6px;
  }
}
