@font-face {
    font-family:'AvenirNextCyr-Medium';
    src: url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-MediumItalic';
    src: url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Bold';
    src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Bold';
    src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-ThinItalic';
    src: url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Heavy';
    src: url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Regular';
    src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Thin';
    src: url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLightIt';
    src: url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-BoldItalic';
    src: url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Light';
    src: url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-DemiItalic';
    src: url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLight';
    src: url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLightIt.woff2';
    src: url('AvenirNextCyr-UltraLightIt.woff2') format('),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNextCyr-Italic.woff2';
    src: url('AvenirNextCyr-Italic.woff2') format('),
        url('AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-BoldItalic';
    src: url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLight';
    src: url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-LightItalic';
    src: url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-LightItalic';
    src: url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-MediumItalic';
    src: url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Demi';
    src: url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-DemiItalic';
    src: url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Regular';
    src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-HeavyItalic';
    src: url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Heavy';
    src: url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Italic';
    src: url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Demi';
    src: url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Medium';
    src: url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Light';
    src: url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Thin';
    src: url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-ThinItalic';
    src: url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-HeavyItalic';
    src: url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Regular';
    src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Light';
    src: url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-BoldItalic';
    src: url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLightIt';
    src: url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Light';
    src: url('AvenirNextCyr-Light.woff2') format('woff2'),
        url('AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-MediumItalic';
    src: url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLight';
    src: url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLightIt';
    src: url('AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-DemiItalic';
    src: url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Italic';
    src: url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-UltraLight';
    src: url('AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-LightItalic';
    src: url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Thin';
    src: url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-ThinItalic';
    src: url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Thin';
    src: url('AvenirNextCyr-Thin.woff2') format('woff2'),
        url('AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-ThinItalic';
    src: url('AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Regular';
    src: url('AvenirNextCyr-Regular.woff2') format('woff2'),
        url('AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-HeavyItalic';
    src: url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Italic';
    src: url('AvenirNextCyr-Italic.woff2') format('woff2'),
        url('AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Demi';
    src: url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-MediumItalic';
    src: url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-DemiItalic';
    src: url('AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Heavy';
    src: url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Bold';
    src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Heavy';
    src: url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Bold';
    src: url('AvenirNextCyr-Bold.woff2') format('woff2'),
        url('AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Demi';
    src: url('AvenirNextCyr-Demi.woff2') format('woff2'),
        url('AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-Medium';
    src: url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-HeavyItalic';
    src: url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-Medium';
    src: url('AvenirNextCyr-Medium.woff2') format('woff2'),
        url('AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:'AvenirNextCyr-BoldItalic';
    src: url('AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:'AvenirNextCyr-LightItalic';
    src: url('AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

